a{
  text-decoration: none;
  color: black;
}
.logoH{
  width: 200px;
}
.logoHChiquito{
  width: 150px;
  justify-content: center;
}
.bBG{
  background: radial-gradient(3339.49% 274.53% at 50% 50%, #146CC4 0%, #093866 100%)
}